---
title: 'Container Exercise'
description: 'mental health resourcing tools'
preloadImg: '/assets/images/imagename.format'
permalink: '/container-exercise'
eleventyNavigation:
    key: Container Exercise
    parent: resources
    order: 1000
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper -->
{% endblock %}