---
title: 'Therapists'
description: 'Mindjourney Therapists'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'therapists/'
eleventyNavigation:
    key: Therapists
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/therapists.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                 Recent Posts                 -->
<!-- ============================================ -->

<section id="blog-1347">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Therapists</span>
            <h2 class="cs-title">Directly from The Latest News and Articles</h2>
            <p class="cs-text">
                Browse our selectin of fine therapists and choose the one that feels like the best fit for you.
            </p>
        </div>
        <ul class="cs-card-group">
            <!-- ============================================ -->
            <!--                 Therapists Listed            -->
            <!-- ============================================ -->

            {% if collections.therapist | length == 0 %}
                <h1>No Recent therapists</h1>
            {% else %}
                {%for therapist in collections.therapist | reverse -%}
                     <li class="cs-item">
                         <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png">
                        <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Digital check list are you prepared for new year?
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                07 Sep, 2022
                            </span>
                            <span class="cs-category">
                                Ecommerce
                            </span>
                        </div>
                    </div>
                </a>
            </li>
                {%- endfor -%}
            {% endif %}

            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png">
                        <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Digital check list are you prepared for new year?
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                07 Sep, 2022
                            </span>
                            <span class="cs-category">
                                Ecommerce
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-presentation.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-presentation.png">
                        <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-presentation.png"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Writing wordPress guides for beginner
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                07 Sep, 2022
                            </span>
                            <span class="cs-category">
                                Ecommerce
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png">
                        <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Get a few solutions to hire a best candidate
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                07 Sep, 2022
                            </span>
                            <span class="cs-category">
                                Digital Agency
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

{% endblock %}
