/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1437 {
    padding: var(--sectionPadding);
  }
  #meet-team-1437 .cs-container {
    width: 100%;
    /* changes to 1280px at large desktop */
    max-width: 56.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1437 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-1437 .cs-button {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 8vw, 3.5rem);
    text-decoration: none;
    /* prevents button text from wrapping across lines */
    white-space: nowrap;
    margin: auto;
    padding: 0 2.5rem;
    color: var(--headerColor);
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #meet-team-1437 .cs-button:hover:before {
    width: 100%;
  }
  #meet-team-1437 .cs-button:before {
    /* hover box */
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #meet-team-1437 .cs-card-group {
    width: 100%;
    /* changes at tablet */
    max-width: 25.8125rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.8vw, 1.25rem);
    position: relative;
  }
  #meet-team-1437 .cs-item {
    list-style: none;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 12;
    position: relative;
    /* clips picture tag from overflowing */
    overflow: hidden;
  }
  #meet-team-1437 .cs-picture {
    width: 100%;
    min-height: 18.75rem;
    display: block;
    position: relative;
    z-index: 1;
    /* removed at tablet */
    aspect-ratio: 328/280;
  }
  #meet-team-1437 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #meet-team-1437 .cs-info {
    text-align: center;
    width: 100%;
    /* prevents padding from affecting the height and width */
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  #meet-team-1437 .cs-name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1437 .cs-job {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #meet-team-1437 .cs-social-group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  #meet-team-1437 .cs-link {
    width: 2rem;
    height: 2rem;
    background-color: #e8e8e8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  #meet-team-1437 .cs-link:hover {
    background-color: var(--primary);
  }
  #meet-team-1437 .cs-link:hover .cs-icon {
    filter: grayscale(100%) brightness(1000%);
  }
  #meet-team-1437 .cs-icon {
    width: 0.75rem;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1437 .cs-card-group {
    max-width: 100%;
    align-items: stretch;
  }
  #meet-team-1437 .cs-item {
    max-width: 100%;
    grid-column: span 4;
    transition: box-shadow 0.3s;
  }
  #meet-team-1437 .cs-item:hover {
    box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);
  }
  #meet-team-1437 .cs-item:hover .cs-name {
    color: var(--primary);
  }
  #meet-team-1437 .cs-picture {
    height: 100%;
    /* 280px - 350px, resets at desktop */
    min-height: clamp(17.5rem, 33vw, 21.875rem);
    overflow: hidden;
    aspect-ratio: initial;
  }
  #meet-team-1437 .cs-picture img {
    transition: transform 0.6s, opacity 0.3s;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #meet-team-1437 .cs-container {
    max-width: 80rem;
  }
  #meet-team-1437 .cs-picture {
    /* 245px - 338px */
    height: clamp(15.3125rem, 27vw, 21.125rem);
    min-height: 15.3125rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #meet-team-1437 .cs-title,
  body.dark-mode #meet-team-1437 .cs-text,
  body.dark-mode #meet-team-1437 .cs-name,
  body.dark-mode #meet-team-1437 .cs-job {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #meet-team-1437 .cs-item {
    border-color: var(--accent);
  }
  body.dark-mode #meet-team-1437 .cs-info {
    background-color: var(--medium);
  }
  body.dark-mode #meet-team-1437 .cs-job, body.dark-mode #meet-team-1437 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #meet-team-1437 .cs-link {
    background-color: var(--accent);
  }
  body.dark-mode #meet-team-1437 .cs-link:hover {
    background-color: var(--primary);
  }
  body.dark-mode #meet-team-1437 .cs-social-group {
    border-color: rgba(255, 255, 255, 0.2);
  }
}

/*# sourceMappingURL=local.css.map */
