---
title: 'Careworks | Mindjourney'
description: 'Counselling & Psychotherapy'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => { 
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-493">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Careworks | Mindjourney</span>
            <h1 class="cs-title">Counselling & Psychotherapy</h1>
            <p class="cs-text">
                Accepting new patients for in-person & virtual.
            </p>
            <a href="" class="cs-button-solid">Book a Consult Now</a>
        </div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <h3 class="cs-h3">Individual Therapy</h3>
                        <p class="cs-item-text">
                            We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                        </p>
                    </li>
                    <li class="cs-item">
                        <h3 class="cs-h3">Couples Counselling</h3>
                        <p class="cs-item-text">
                            We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                        </p>
                    </li>
                    <li class="cs-item">
                        <h3 class="cs-h3">Family Therapy</h3>
                        <p class="cs-item-text">
                            We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                        </p>
                    </li>
                </ul>   
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/2-ppl-therapy-m.png">
        <source media="(min-width: 601px)" srcset="/assets/images/2-ppl-therapy.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/dna.jpg" alt="dna strand" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1378">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">We’re a multi-disciplined evidence based practice</h2>
            <p class="cs-text">We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.</p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Depression/Anxiety</h3>
                <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-media.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Trauma</h3>
                <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-alert.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">ADHD Diagnosis</h3>
                <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-meter.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Psychedelic Integration</h3>
                <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve all the things in life you were meant to do beyond what you have accomplished so far in lifeBlanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve all the things in life you were meant to do beyond what you have accomplished so far in life</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-design.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">UX / UI Design</h3>
                <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-image.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Photo and Print</h3>
                <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
        </ul>
    </div>
</section>
                                
                      
                            
<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1437">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Team</span>
            <h2 class="cs-title">Meet The Therapists</h2>
            <p class="cs-text">
                Careworks is a full service therapy practice with therapists who are registered and certified mental health treatment professionals who have acheived their masters in counselling psychology.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="assets/images/therapists/bri-collyer.JPG">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="assets/images/therapists/bri-collyer.JPG">
                    <img loading="lazy" decoding="async"
                            src="assets/images/therapists/bri-collyer.JPG" alt="Therapist Bri Collyer"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Bri Collyer</span>
                    <span class="cs-job">CERTIFIED COUNSELLOR</span>
                    <p class="cs-text">
                Hi, I’m Bri, I am a Canadian Certified Counsellor (CCC) with the Canadian Counselling and Psychotherapy Association. I completed a Bachelor of Science (Honours) degree with a focus in psychology at the University of Calgary followed by the completion of the Master of Arts in Counselling Psychology program from Yorkville University. I have always had....(more)
                    </p>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="assets/images/therapists/brittney-miller.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="assets/images/therapists/brittney-miller.jpeg">
                    <img loading="lazy" decoding="async"
                            src="assets/images/therapists/brittney-miller.jpeg" alt="Therapist Britney Miller"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Brittney Miller</span>
                    <span class="cs-job">REGISTERED PSYCHOTHERAPIST</span>
                    <p class="cs-text">
                As your counsellor and psychotherapist, my goal is to create a warm and welcoming environment to provide you with the support and encouragement that you need. Together we take steps toward your goals and enhance your well-being....(more)
                    </p>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="assets/images/therapists/laura-halley.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="assets/images/therapists/laura-halley.jpeg">
                    <img loading="lazy" decoding="async"
                            src="assets/images/therapists/laura-halley.jpeg" alt="Therapist Laura Halley"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Laura Halley</span>
                    <span class="cs-job">CERTIFIED COUNSELLOR</span>
                    <p class="cs-text">
                I work with clients who have complex mental health and behavioural challenges, specifically in the areas of depression, anxiety, anger and stress management, trauma, self harm and self-image....(more)
                    </p>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="assets/images/therapists/olivia-smith.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="assets/images/therapists/olivia-smith.webp">
                    <img loading="lazy" decoding="async"
                            src="assets/images/therapists/olivia-smith.webp" alt="Therapist Olivia Smith"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Olivia Smith</span>
                    <span class="cs-job">REGISTERED PSYCHOTHERAPIST (Qualifying)</span>
                    <p class="cs-text">
                        If you feel like you are overwhelmed, life is unravelling, you are anxious, have a lack of motivation, are stressed or just generally at a loss, these are things we can approach together.
                        Through encouragement and non-judgmental support, you can access your...(more)
                    </p>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>           
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="assets/images/therapists/charlene-wiseman.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="assets/images/therapists/charlene-wiseman.jpg">
                    <img loading="lazy" decoding="async"
                            src="assets/images/therapists/charlene-wiseman.jpg" alt="Therapist Charlene Wiseman"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Charlene Wiseman</span>
                    <span class="cs-job">REGISTERED PSYCHOTHERAPIST</span>
                    <p class="cs-text">
                        My approach to therapy is one of support, encouragement, and collaboration.  I truly believe that the path of self discovery that we travel is one where I walk beside the client, as they do the sometimes difficult work that comes with self-healing.  I have had...(more)
                    </p>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>            
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="assets/images/therapists/brittney-miller.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="assets/images/therapists/brittney-miller.jpeg">
                    <img loading="lazy" decoding="async"
                            src="assets/images/therapists/brittney-miller.jpeg" alt="Therapist Nancy Goodyear"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Nancy Goodyear</span>
                    <span class="cs-job">CERTIFIED COUNSELLOR</span>
                    <p class="cs-text">
                As your counsellor and psychotherapist, my goal is to create a warm and welcoming environment to provide you with the support and encouragement that you need. Together we take steps toward your goals and enhance your well-being....(more)
                    </p>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--               HOW WE CAN HELP                -->
<!-- ============================================ -->               

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-857">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Coverage</span>
            <h2 class="cs-title">Use Your Insurance</h2>
        </div>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo5.png" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo6.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo7.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo8.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo5.png" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo6.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo7.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo8.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
        </div>
    </div>
</section>
                                                                                                
                                                   

    {% include 'components/cta.html' %}
{% endblock %}