---
title: 'Careworks | Mindjourney'
description: 'Counselling & Psychotherapy'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => { 
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-493">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Careworks | Mindjourney</span>
            <h1 class="cs-title">Counselling & Psychotherapy</h1>
            <p class="cs-text">
                EMDR | Mindfulness | Psychotherapy
            </p>
            <a href="" class="cs-button-solid">Book a Consult Now</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/2-ppl-therapy-m.png">
        <source media="(min-width: 601px)" srcset="/assets/images/2-ppl-therapy.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/dna.jpg" alt="dna strand" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1765">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-wrapper">
                <div class="cs-flex">
                    <span class="cs-topper">Our Therapists</span>
                    <h2 class="cs-title">We’re Making People Healthier, Happier
                </div>
                <a href="" class="cs-button-solid">View Our Team Members</a>
            </div>
            <div class="cs-wrapper">
                <p class="cs-text">
                    We are confident that our staff and facility can help you to reach your fitness goals. Whether you’re a beginner or a pro, we’re here to help. After spending time in our facility and with our team we want our members to walk out of our doors after a workout and feel like they are a better version of themselves.
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        You will achieve your goals
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        You’ll learn something new
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        You’ll find the help useful
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        You’ll gain confidence
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        You’ll have unlimited support
                    </li>
                </ul>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-1.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-1.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-1.png" alt="person" width="305" height="440">
                    </picture>
                    <div class="cs-social">
                        <a href="" class="cs-link" aria-label="Facebook" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-grey.svg" alt="facebook" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/x-grey.svg" alt="twitter" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Instagram" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-grey.svg" alt="instagram" width="20" height="20">
                        </a>
                    </div>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Michael Semple</span>
                    <span class="cs-job">Fitness Instructor</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-2.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-2.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-2.png" alt="person" width="305" height="440">
                    </picture>
                    <div class="cs-social">
                        <a href="" class="cs-link" aria-label="Facebook" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-grey.svg" alt="facebook" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/x-grey.svg" alt="twitter" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Instagram" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-grey.svg" alt="instagram" width="20" height="20">
                        </a>
                    </div>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Jose Hawthorne</span>
                    <span class="cs-job">Nutritionist</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-3.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-3.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-3.png" alt="person" width="305" height="440">
                    </picture>
                    <div class="cs-social">
                        <a href="" class="cs-link" aria-label="Facebook" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-grey.svg" alt="facebook" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/x-grey.svg" alt="twitter" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Instagram" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-grey.svg" alt="instagram" width="20" height="20">
                        </a>
                    </div>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Timothy Andrews</span>
                    <span class="cs-job">Fitness Instructor</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-person.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-person.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-person.png" alt="person" width="305" height="440">
                    </picture>
                    <div class="cs-social">
                        <a href="" class="cs-link" aria-label="Facebook" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-grey.svg" alt="facebook" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/x-grey.svg" alt="twitter" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Instagram" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-grey.svg" alt="instagram" width="20" height="20">
                        </a>
                    </div>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Kathy Vangilder</span>
                    <span class="cs-job">Nutritionist</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-person2.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-person2.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-person2.png" alt="person" width="305" height="440">
                    </picture>
                    <div class="cs-social">
                        <a href="" class="cs-link" aria-label="Facebook" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-grey.svg" alt="facebook" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/x-grey.svg" alt="twitter" width="20" height="20">
                        </a>
                        <a href="" class="cs-link" aria-label="Instagram" target="_blank" rel="noopener">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-grey.svg" alt="instagram" width="20" height="20">
                        </a>
                    </div>
                </div>
                <div class="cs-info">
                    <span class="cs-name">David Garcia</span>
                    <span class="cs-job">Personal Trainer</span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                                   

    {% include 'components/cta.html' %}
{% endblock %}