/*-- -------------------------- -->
<---       Meet Our Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-546 {
        padding: var(--sectionPadding);
        background-color: var(--primary);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper,
        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1vw, 1.25rem);
            justify-content: center;
        }

        .cs-item {
            /* changed to left at desktop */
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            margin: 0;
            padding: 0;
            background-color: var(--bodyTextColorWhite);
            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            /* height divided by width */
            aspect-ratio: (328/250);
            /* clips image tag from overflowing on hover */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image behave like a background image */
                object-fit: cover;
                /* places top of the image at the top of the box */
                object-position: top;
                transition: transform 0.6s;
            }
        }

        .cs-flex-group {
            width: 100%;
            /* 40px - 48px top and bottom */
            /* 28px - 48px top and bottom */
            padding: clamp(2.5rem, 7vw, 3rem) clamp(1.75rem, 7vw, 3rem);
            /* prevents padding from affect height and width */
            box-sizing: border-box;
            /*display: flex;*/
            flex-direction: column;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: center;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.5em;
            font-weight: 400;
            text-align: center;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-link {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            text-align: center;
            text-decoration: none;
            /* 40px - 48px */
            line-height: clamp(2.5rem, 4vw, 3rem);
            min-width: calc(116 / 16 * 1rem);
            /* 40px - 48px */
            height: clamp(2.5rem, 4vw, 3rem);
            padding: 0 calc(24 / 16 * 1rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            border-radius: calc(30 / 16 * 1rem);
            background-color: #dad9e3;
            color: var(--headerColor);
            display: inline-block;
            transition:
                background-color 0.3s,
                color 0.3s;
            &:hover {
                background-color: var(--primary);
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #meet-team-546 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .cs-item {
            width: 48%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #meet-team-546 {
        .cs-flex-group {
            text-align: center;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
}

                                                             